.card {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 280px;
	width: 400px;
	min-width: 250px;
	padding: 1.5rem;

	border-radius: 16px;
	background:  #17141d;
	box-shadow: -1rem 0 3rem #000;

	transition: .2s;
}

.card:hover h2 {
	background: linear-gradient(90deg,#ff8a00,#e52e71);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* font-weight: 500px; */
}

.card:hover {
	transform: translateY(-1rem);
}


.description {
	font-size: 0.8em;
	height: 150px;
}