.modal {
	/* keep a ratio of 16:9 - only the width is to be changed */
	--marginW: 15vw;
	--marginH: calc(var(--marginW) * 9 / 16);
	/* Move the modal relative to the top left corner */
	position: fixed;
	top: calc(var(--marginH) / 2);
	left: calc(var(--marginW) / 2);
	/* set the height and width to always be 16:9 ration */
	width: calc(100vw - var(--marginW));
	height: calc(100vh - var(--marginH));
	/* Move it from 50% of its height and width so it is center*/
	background-color: aliceblue;
}
