
.navBarContainer {
	display: flex;
	justify-content: flex-end;
	width: 1fr;
	vertical-align: middle;
	padding: 0.8em 0em;
}

@media (max-width: 600px) {
	.navBarContainer {
		justify-content:space-around;
	}
}

.navButton {
	margin-inline: 2em;
	cursor: pointer;
	text-decoration: none;
	color: whitesmoke;
}