
.navBarContainer {
	display: flex;
	justify-content: flex-end;
	width: 1fr;
}

.navButton {
	margin-inline: 2em;
	cursor: pointer;
	/* border: none;
	text-align: center;
	text-decoration: none; */
	/* background-color: rgb(255, 0, 115); */
}