.app-container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.06fr 1fr;
	grid-template-areas: 
		"logo nav nav nav"
		"main1 main2 main2 main2";
	font-family: 'jetBrainsMono';
}

@media (max-width: 600px) {
	.app-container {
	display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.05fr 0.06fr 1fr 1fr;
		grid-template-areas: 
			"logo"
			"nav"
			"main1"
			"main2";
			font-family: 'jetBrainsMono';
	}
}

nav {
	grid-area: nav;
	background-color: aqua;
}

#logo {
	grid-area: logo; 
	background-color: aquamarine;
}

#main1 {
	grid-area: main1 ;
	background-color: coral;
}

#main2 {
	grid-area: main2;
	background-color: lightblue;
}

@font-face {
	font-family: "jetBrainsMono";
	src: url("..\public\JetBrainsMono-VariableFont_wght.ttf");
}