/* site for shdes of gray: https://www.color-meanings.com/shades-of-gray-color-names-html-hex-rgb-codes/ */
/* for hacking green: https://brand.hackernoon.com/visual-assets/color-palettes */
/* Chosen gray: #charcoal: 36454F */

/* If the grid area is in the html, it has to be selected and appear in the grid-template-area */

.app-container {
	display: grid;
	height: 95vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.06fr 1fr 1fr;
	grid-template-areas: 
		"logo nav nav nav"
		"main1 main1 main1 main2"
		"projectsAndSkills projectsAndSkills projectsAndSkills projectsAndSkills";
	font-family: 'jetBrainsMono';
	color: whitesmoke;
}

nav {
	grid-area: nav;
	background-color: #36454F;
}

#logo {
	grid-area: logo; 
	background-color: #36454F;
}

#main1 {
	grid-area: main1;
	background-color: #36454F;
}

#main2 {
	grid-area: main2;
	background-color: #36454F;
}

#projectsAndSkills {
	grid-area: projectsAndSkills;
	text-align: center;
	background-color: blueviolet;
}

@media (max-width: 600px) {
	.app-container {
	display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.05fr 0.06fr 1fr 1fr;
		grid-template-areas: 
			"logo"
			"nav"
			"main1"
			"main2"
			"projectsAndSkills";
			font-family: 'jetBrainsMono';
	}

	#main2 {
		display: none;
	}
}

@font-face {
	font-family: "jetBrainsMono";
	src: url("..\public\JetBrainsMono-VariableFont_wght.ttf");
}